{% extends 'base.html' %}



{% block content %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href='{% static "/login.css" %}' type="text/css">

<section class="forms-section">
  <h1 class="section-title">Claudius LI</h1>
  <div class="forms">
    <div class="form-wrapper is-active">
      <button type="button" class="switcher switcher-login">
        Login
        <span class="underline"></span>
      </button>
        
      <form class="form form-login" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <fieldset>          
          <div class="input-block">
            <label for="username">Username</label>
            <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
          </div>
        <a href="{% url 'password_reset' %}">Lost password?</a>
        </fieldset>
        <input type="submit" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
      </form>
    </div>
      
      
    <div class="form-wrapper">
      <button type="button" class="switcher switcher-signup">
        <a href="{% url 'signup' %}">Sign Up</a>
        <span class="underline"></span>
      </button>
      <form class="form form-signup" method="post">
        {% csrf_token %}
        <fieldset>
            <br><br><br><br><br><br><br><br><br><br>
        </fieldset>
        <input type="submit" value="Sign Up">
    </form>
      
    </div>
    </div>
   
</section>

<script>
const switchers = [...document.querySelectorAll('.switcher')]

switchers.forEach(item => {
	item.addEventListener('click', function() {
		switchers.forEach(item => item.parentElement.classList.remove('is-active'))
		this.parentElement.classList.add('is-active')
	})
})
    
    
</script>


{% endblock %}
